PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=4ghV1u8L8L5vtTAzmwbh3Bw4nLL4dPUn
DRIVE_DISK=local
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid

# GOOGLE API
GOOGLE_SCOPES=
GOOGLE_PROJECT_NUMBER=
GOOGLE_CALENDAR_ID=

# SUPER ADMIN PASS
SA_NAME=
SA_USER=
SA_EMAIL=
SA_PASSWORD=

# EVENT CONFIG
EVENT_MAX_SUBMISSION_WEEK_DAY=5
